h1 {
    margin-bottom: 1cm;
    align-items: center;
    text-align: center;
    font-size: 45px;
    font-family: 'Abril Fatface', serif;
}

body {
    background-color: azure;
    font-size: 20px;
    font-family: 'Abril Fatface', serif;
}

form {
    max-width: 500px;
    margin: auto;
    border: 3px solid black;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: left;
    text-align: left;
    font-family: serif;
}

button {
    background-color: SteelBlue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Abril Fatface', serif;
    font-size: 20px;
}

button:hover {
    opacity: 0.8;
}

.submit {
    width: auto;
    padding: 10px 18px;
    background-color: SteelBlue;
}

.container {
    padding: 10px;
}