<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        document.querySelector('form').onsubmit = function () {
            this.setAttribute('action', "/game/" + document.querySelector('input[name=join]').value)
        }
    </script>
    <link rel="stylesheet" href="/css/style3.css">
</head>

<body>
    <h1>Home Page</h1>
    <h2><%= num %></h2>


    <form action="/game/<%= num %>" method="get">
        <input type="hidden" value="<%= username %>" name="username">
        <button value="<%= num %>">Play Game</button>
        <br>
        <!-- <input type="text" name="join"> -->
        <button type="submit" value="submit">Join Room</button>
    </form>

    <!-- <form action="/game/<int: >">
        <input type="text" name="join">
        <button type="submit" value="submit">Join Room</button>
    </form> -->

    <form action="/leaderboard" method="get">
        <button>Leaderboard</button>
    </form>



</body>
<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<!-- <script src="js/script.js" type="text/javascript"></script> -->
<script>
    socket = io()

    socket.emit('message', 'Connect on Index page')
</script>

</html>