<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>register</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
</head>

<body>
    <h1>Create your Account!</h1>
    <form action='/register' method="post" autocomplete="off">
        <div class="container">
            <label for="firstname"><b>First Name</b></label>
            <input type="text" placeholder="First Name" name="firstname">
            <!-- <label for="lastname"><b>Last Name</b></label>
            <input type="text" placeholder="Last Name" name="lastname"> -->
            <label for="playername"><b>Player Name</b></label>
            <input type="text" placeholder="Player Name" name="playername">
            <label for="password"><b>Password</b></label>
            <input type="text" placeholder="Password" name="password">
            <button value="submit" type="submit">Register</button>
        </div>
    </form>



</body>

</html>