<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>register</title>
    <link rel="stylesheet" href="../static/style3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
</head>

<body>
   <div id=chooseplayer-container>
       <h1>Multiplayer Connect 4!</h>
             <div id='Stats'>
        <form  action="/Stats" method="post">
          <button  id='Stats' onclick="Stats()">Stats</button>
        </form>
      </div>
<div>
       <button value="submit" type"submit">Find Player</button>
       <button value="submit" type"submit">Invite Player</button>
</div>
</body>
</html>
